body {
    margin: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

h3 {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
    width: 350px;
    height: 275px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red; 
    background-color: black;
    font-size: 4rem;
    font-family: 'Cursed Timer ULiL', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 120px;
    padding-top: 1rem;
    border: 3px solid gray;
    border-radius: 3px;
    max-height: 4rem;
}

.points-buttons {
    margin: 1em 0;
}

.points-buttons button {
    background-color:  rgb(77, 77, 117);
    border: 3px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    padding: 5px;
}

.reset-button {
    border: 3px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    background-color: rgb(77, 77, 117);
}